@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="pos-f-t" style="width:90px;position:absolute;left:0%;top:0%">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <ul style="color:white" class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a style="color:white" class="nav-link" asp-area="" asp-controller="Region" asp-action="Index">Region</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link " asp-area="" asp-controller="Agence" asp-action="Index">Agence</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link " asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link " asp-area="" asp-controller="Agent" asp-action="Index">Agent</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" asp-area="" asp-controller="Mobilite" asp-action="Index">Mobilite</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>

</script>