@model GestionMobilites.Models.Role

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression</h1>

<h3>Êtes-vous sur de vouloir supprimer cet élément ?</h3>
<div>
@*    <h4>Role</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibelleRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleRole)
        </dd>
    </dl>
    
    <form asp-action="Delete" >
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-danger">Retour</a>
    </form>
</div>
